:root {
  --error-color: #F00;
}

.input {
  padding: 5px;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
  width: 100%;
  font-size: 18px;

  &.errorMark {
    border-color: var(--error-color);
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid #00AFCC;
  }
}

.errorMsg {
  color: var(--error-color);
}
