.linksList { /* stylelint-disable */

}

.button {
  box-shadow: rgba(0, 0, 0 0.16) 0 3px 10px, rgba(0, 0, 0, 0.23) 0px 30px 10px;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  right: 30px;
  top: 110px;
  background-color: #FF4081;
  padding: 25px 30px;

  &:hover {
    background-color: #F9578E;
  }
}

.icon {
  color: #FFF
}