/**
 * styles.css
 *
 * App container styles
 */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.container {
  display: block;
  margin: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #E4E4E4;
}
