.App {
  margin: auto;
  font-family: Roboto, sans-serif;
  width: 100%;
  max-width: 1200px;
}

@mixin flexWithRows() {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.users-container {
  @include flexWithRows();
  margin-bottom: 30px;

  .user-tile {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 18px;
    background-color: coral;
    color: white;
    margin: 5px;
    transition: background-color 3s ease-in-out;

    &.mounted {
      background-color: blueviolet;
    }
  }
}

.widgets-container {
  @include flexWithRows();

  @keyframes show-header {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .widget {
    width: 200px;
    position: relative;
    background-color: chartreuse;
    color: white;
    text-align: center;
    font-family: Roboto, sans-serif;
    margin: 2px;

    .widget-header {
      position: absolute;
      box-sizing: border-box;
      padding: 5px;
      background-color: coral;
      font-size: 18px;
      color: white;
      width: 50%;
      line-height: 20px; // padding nie wlicza sie w line height
      height: 30px;
      left: 25%;
      top: - 15px;
      display: none;
      &.header-active {
        display: block;
        animation: show-header 1s forwards;
      }
    }
    //&:hover {
    //  .widget-header {
    //    display: block;
    //    animation: show-header 1s forwards;
    //  }
    //}

    .widget-body {
      margin-top: 15px;
      font-size: 24px;
    }
    &:hover {
      .widget-details.widget-closed {
        //animation: widget-open 1s ease-out forwards;
        height: 100px;
      }
    }

    // OKAZUJE SIE ze lepiej tutaj uzyc transition gdyz nie animuje sie ono na loadzie strony
    .widget-details {
      background-color: #6c9289;
      transition: height 1s;
      margin: 5px 10%;
      overflow: hidden;
      height: 0;
      &.widget-open {
        height: 100px;
      }
    }

    &.user-widget {
      background-color: darkgoldenrod;
      color: white;
      font-size: 24px;
      text-align: center;
      .user-nickname {
        font-style: italic;
      }
    }
  }
}


